@{
    ViewData["Title"] = "File upload status";
}

<div class="container py-5">
    <div class="d-flex justify-content-center flex-column">
        <h1>@TempData["message"]</h1>
        <a class="btn btn-primary w-25 my-4" asp-area="" asp-action="FileExplorer">Go to file explorer</a>
    </div>
</div>