@model Velar.Core.Models.User.PersonalInfo
@{
    ViewData["Title"] = "Profile";
}

<div class="container">
    <div class="row">
        <ul>
            <li>@Model.UserName</li>
            <li>@Model.Email</li>
            <li>@Model.FirstName</li>
            <li>@Model.LastName</li>
        </ul>
    </div>
</div>
